AuthorizationException : invalid_request when performTokenRequest() 

Hi,
I have this issue when I try to performTokenRequest :
 
`AuthorizationException: {"type":2,"code":2000,"error":"invalid_request","errorDescription":"Scope parameter is not supported on an authorization code access_token exchange request. Scope parameter should be supplied to the authorize request.","errorUri":""}`

It sounds like an issue that have been resolved in AppAuth-iOS but not in Android (cf. [Removed `scope` from authorization code exchange token request. #157 ](https://github.com/openid/AppAuth-iOS/pull/157/commits/b5870c0bc6f65cb4004d697722612cd4a1019ab8)

I'm using 0.7.0 version.

Thank you in advance.

Yes it's the same issue : 
[https://github.com/openid/AppAuth-iOS/issues/156](url)

WilliamDennis says : 
> [Section 4.1.3 of RFC 6749](https://tools.ietf.org/html/rfc6749#section-4.1.3) does not describe scope as an optional or required parameter for the access token request (code exchange), Thought it does for refreshing the refresh token in [Section 6](https://tools.ietf.org/html/rfc6749#section-6).
> 

### Update
I do a little bypass to put the "scope" to null when I handle AuthorizationResponse.
Is it acceptable as a solution?

      AuthorizationResponse response = AuthorizationResponse.fromIntent(intent);
        AuthorizationServiceConfiguration serviceConfiguration = new AuthorizationServiceConfiguration(
                Uri.parse(AUTH_ENDPOINT),
                Uri.parse(TOKEN_ENPOINT)
               );
        AuthorizationRequest.Builder authRequestBuilder =
                new AuthorizationRequest.Builder(
                        serviceConfiguration,
                        CLIENT_ID,
                        ResponseTypeValues.CODE,
                        REDIRECT_URI);
        authRequestBuilder.setScope(null);

        AuthorizationResponse.Builder responseBuilder = new 
        
        AuthorizationResponse.Builder(authRequestBuilder.build());
        responseBuilder.setState(response.state);
        responseBuilder.setTokenType(response.tokenType);
        responseBuilder.setAdditionalParameters(response.additionalParameters);
        responseBuilder.setAuthorizationCode(response.authorizationCode);
       
        AuthorizationResponse authResponse = responseBuilder.build();

        AuthorizationException error = AuthorizationException.fromIntent(intent);
        final AuthState authState = new AuthState(authResponse, error);

